In [1]:
import sys
import scanpy as sc
import anndata
import pandas as pd
import numpy as np
import os
from scipy.io import mmwrite
import desc
import scipy
import anndata as ad

In [27]:
###merge sc_combine&st_combine###

## sc

In [2]:
#desc_0.8
sc_combine=sc.read_h5ad("/home/huggs/shiyi/SCST/RCTD/RCTD/predata/celltrek_kidney/mymodel/2_desc/2_desc_222copy/sc_desc.h5ad")
sc_combine

AnnData object with n_obs × n_vars = 40712 × 2977
    obs: 'orig.ident', 'nCount_RNA', 'nFeature_RNA', 'n_counts', 'desc_0.2', 'desc_0.4', 'desc_0.6', 'desc_0.8', 'desc_1.4', 'desc_2.0'
    var: 'features', 'mean', 'std'
    uns: 'prob_matrix0.2', 'prob_matrix0.4', 'prob_matrix0.6', 'prob_matrix0.8', 'prob_matrix1.4', 'prob_matrix2.0', 'umap'
    obsm: 'X_Embeded_z0.2', 'X_Embeded_z0.4', 'X_Embeded_z0.6', 'X_Embeded_z0.8', 'X_Embeded_z1.4', 'X_Embeded_z2.0', 'X_tsne', 'X_tsne0.2', 'X_tsne0.4', 'X_tsne0.6', 'X_tsne0.8', 'X_tsne1.4', 'X_tsne2.0', 'X_umap', 'X_umap0.2', 'X_umap0.4', 'X_umap0.6', 'X_umap0.8', 'X_umap1.4', 'X_umap2.0'
    obsp: 'connectivities', 'distances'

In [3]:
print(sc_combine.X)

[[-0.25764459 -0.12531272 -0.34450435 ...  3.         -0.16075801
  -0.12331991]
 [ 2.22988505 -0.12531272 -0.34450435 ... -0.19240832 -0.16075801
  -0.12331991]
 [-0.25764459 -0.12531272 -0.34450435 ... -0.19240832 -0.16075801
  -0.12331991]
 ...
 [-0.25764459 -0.12531272  1.39848847 ... -0.19240832  3.
  -0.12331991]
 [-0.25764459 -0.12531272 -0.34450435 ... -0.19240832 -0.16075801
  -0.12331991]
 [-0.25764459 -0.12531272 -0.34450435 ... -0.19240832 -0.16075801
  -0.12331991]]

In [4]:
print(sc_combine.raw.X)

  (0, 5)	2.0
  (0, 8)	4.0
  (0, 12)	2.0
  (0, 15)	1.0
  (0, 21)	6.0
  (0, 24)	1.0
  (0, 59)	5.0
  (0, 110)	1.0
  (0, 115)	2.0
  (0, 118)	2.0
  (0, 122)	2.0
  (0, 128)	5.0
  (0, 141)	6.0
  (0, 155)	12.0
  (0, 156)	11.0
  (0, 160)	10.0
  (0, 165)	3.0
  (0, 166)	24.0
  (0, 173)	7.0
  (0, 179)	11.0
  (0, 187)	13.0
  (0, 189)	1.0
  (0, 193)	10.0
  (0, 200)	3.0
  (0, 220)	2.0
  :	:
  (40711, 2388)	1.0
  (40711, 2393)	1.0
  (40711, 2424)	1.0
  (40711, 2426)	1.0
  (40711, 2439)	7.0
  (40711, 2445)	1.0
  (40711, 2503)	1.0
  (40711, 2584)	1.0
  (40711, 2592)	6.0
  (40711, 2611)	3.0
  (40711, 2612)	1.0
  (40711, 2647)	1.0
  (40711, 2687)	1.0
  (40711, 2727)	7.0
  (40711, 2741)	2.0
  (40711, 2767)	2.0
  (40711, 2769)	1.0
  (40711, 2773)	2.0
  (40711, 2777)	1.0
  (40711, 2810)	1.0
  (40711, 2813)	1.0
  (40711, 2922)	2.0
  (40711, 2938)	1.0
  (40711, 2940)	2.0
  (40711, 2961)	2.0

In [5]:
sc_combine.X=sc_combine.raw.X

In [6]:
#add batch
sc_combine.obs["batch"]="sc"

In [33]:
#add annotation_1: desc_0.2
#adata_snrna_raw=sc.read_h5ad("/s/f/shiyi/ST/Data/cell2location/data/filter_raw.h5ad")

In [7]:
len(sc_combine.obs["desc_0.8"].cat.categories)

28

In [8]:
sc_combine.obs

,orig.ident,nCount_RNA,nFeature_RNA,n_counts,desc_0.2,desc_0.4,desc_0.6,desc_0.8,desc_1.4,desc_2.0,batch
Z1_F_F1_AAACCTGAGAGACGAA,0,963.0,347,963.0,1,4,14,16,19,21,sc
Z1_F_F1_AAACCTGAGGGCTTCC,0,1107.0,370,1107.0,1,4,14,16,19,21,sc
Z1_F_F1_AAACCTGCAGGACGTA,0,726.0,268,726.0,14,18,3,2,2,1,sc
Z1_F_F1_AAACCTGGTATTCGTG,0,370.0,164,370.0,0,0,3,2,2,2,sc
Z1_F_F1_AAACCTGTCAAACCAC,0,352.0,153,352.0,14,0,3,2,3,2,sc
...,...,...,...,...,...,...,...,...,...,...,...
Z3_M_M2_TTTGTCAAGTGGTCCC,2,806.0,267,806.0,5,6,6,11,11,12,sc
Z3_M_M2_TTTGTCACATCACAAC,2,336.0,160,336.0,0,0,0,0,1,0,sc
Z3_M_M2_TTTGTCACATCGTCGG,2,1293.0,330,1293.0,3,2,2,5,6,7,sc
Z3_M_M2_TTTGTCAGTAACGACG,2,1065.0,211,1065.0,2,1,1,1,0,5,sc
Z3_M_M2_TTTGTCATCTCAAGTG,2,262.0,119,262.0,0,0,0,0,1,0,sc

## st

In [9]:
st_combine=sc.read_h5ad("/home/huggs/shiyi/SCST/RCTD/RCTD/predata/celltrek_kidney/mymodel/1_predata/st_combine.h5ad")
st_combine

AnnData object with n_obs × n_vars = 1438 × 2977
    obs: 'orig.ident', 'nCount_Spatial', 'nFeature_Spatial'
    var: 'features'

In [10]:
print(st_combine.X)

  (0, 0)	29.0
  (0, 1)	1.0
  (0, 2)	74.0
  (0, 3)	3.0
  (0, 4)	56.0
  (0, 5)	73.0
  (0, 6)	156.0
  (0, 8)	44.0
  (0, 9)	2.0
  (0, 11)	1.0
  (0, 12)	90.0
  (0, 13)	9.0
  (0, 15)	352.0
  (0, 16)	4.0
  (0, 17)	3.0
  (0, 18)	6.0
  (0, 19)	1.0
  (0, 21)	24.0
  (0, 22)	4.0
  (0, 24)	2.0
  (0, 25)	3.0
  (0, 28)	1.0
  (0, 31)	4.0
  (0, 32)	1.0
  (0, 37)	1.0
  :	:
  (1437, 2919)	6.0
  (1437, 2922)	77.0
  (1437, 2923)	3.0
  (1437, 2924)	1.0
  (1437, 2926)	4.0
  (1437, 2929)	3.0
  (1437, 2934)	24.0
  (1437, 2938)	3.0
  (1437, 2940)	9.0
  (1437, 2944)	31.0
  (1437, 2947)	1.0
  (1437, 2951)	65.0
  (1437, 2953)	4.0
  (1437, 2955)	1.0
  (1437, 2957)	4.0
  (1437, 2958)	7.0
  (1437, 2960)	3.0
  (1437, 2961)	8.0
  (1437, 2963)	4.0
  (1437, 2965)	1.0
  (1437, 2966)	4.0
  (1437, 2969)	3.0
  (1437, 2971)	5.0
  (1437, 2973)	2.0
  (1437, 2974)	2.0

In [11]:
st_combine.obs["batch"]="st"

In [12]:
st_combine.obs

                    orig.ident  nCount_Spatial  nFeature_Spatial batch
AAACCGTTCGTCCAGG-1           0          7349.0               992    st
AAACCTAAGCAGCCGG-1           0          8948.0              1084    st
AAACGAGACGGTTGAT-1           0         23405.0              1363    st
AAACGGTTGCGAACTG-1           0         11291.0              1138    st
AAACTCGGTTCGCAAT-1           0         17731.0              1423    st
...                        ...             ...               ...   ...
TTGTGTATGCCACCAA-1           0         11289.0              1194    st
TTGTGTTTCCCGAAAG-1           0         19804.0              1218    st
TTGTTCAGTGTGCTAC-1           0          7820.0              1134    st
TTGTTGTGTGTCAAGA-1           0          8207.0              1013    st
TTGTTTCACATCCAGG-1           0         15787.0              1256    st

[1438 rows x 4 columns]

In [13]:
st_rctd=sc.read_h5ad("/home/huggs/shiyi/SCST/RCTD/RCTD/predata/celltrek_kidney/mymodel/3_RCTD/st_combine_subset.h5ad")
st_rctd

AnnData object with n_obs × n_vars = 646 × 2977
    obs: 'orig.ident', 'nCount_Spatial', 'nFeature_Spatial', 'desc_0.8'
    var: 'features'

In [14]:
print(st_rctd.X)

  (0, 0)	212.0
  (0, 1)	3.0
  (0, 2)	604.0
  (0, 3)	4.0
  (0, 4)	709.0
  (0, 5)	51.0
  (0, 6)	1542.0
  (0, 7)	1.0
  (0, 8)	93.0
  (0, 9)	2.0
  (0, 12)	887.0
  (0, 13)	33.0
  (0, 15)	1820.0
  (0, 16)	1.0
  (0, 17)	2.0
  (0, 19)	37.0
  (0, 21)	306.0
  (0, 22)	16.0
  (0, 24)	1.0
  (0, 25)	1.0
  (0, 28)	13.0
  (0, 31)	8.0
  (0, 32)	2.0
  (0, 35)	1.0
  (0, 39)	10.0
  :	:
  (645, 2926)	4.0
  (645, 2927)	1.0
  (645, 2930)	2.0
  (645, 2933)	1.0
  (645, 2934)	18.0
  (645, 2938)	5.0
  (645, 2939)	1.0
  (645, 2940)	9.0
  (645, 2941)	1.0
  (645, 2943)	1.0
  (645, 2944)	17.0
  (645, 2951)	77.0
  (645, 2953)	2.0
  (645, 2957)	5.0
  (645, 2958)	3.0
  (645, 2959)	2.0
  (645, 2961)	14.0
  (645, 2963)	1.0
  (645, 2965)	2.0
  (645, 2966)	3.0
  (645, 2969)	3.0
  (645, 2970)	2.0
  (645, 2971)	3.0
  (645, 2975)	2.0
  (645, 2976)	1.0

In [15]:
st_rctd.obs["batch"]="st"

## merge

In [16]:
#合并ST,adata
import anndata as ad
adatas=[sc_combine,st_rctd]
adatas=ad.concat(adatas,merge='same')
adatas

AnnData object with n_obs × n_vars = 41358 × 2977
    obs: 'orig.ident', 'desc_0.8', 'batch'
    var: 'features'

In [17]:
#combine try 2
import anndata as ad
combined = ad.concat([sc_combine,st_rctd], join="outer")
combined

AnnData object with n_obs × n_vars = 41358 × 2977
    obs: 'orig.ident', 'nCount_RNA', 'nFeature_RNA', 'n_counts', 'desc_0.2', 'desc_0.4', 'desc_0.6', 'desc_0.8', 'desc_1.4', 'desc_2.0', 'batch', 'nCount_Spatial', 'nFeature_Spatial'
    obsm: 'X_Embeded_z0.2', 'X_Embeded_z0.4', 'X_Embeded_z0.6', 'X_Embeded_z0.8', 'X_Embeded_z1.4', 'X_Embeded_z2.0', 'X_tsne', 'X_tsne0.2', 'X_tsne0.4', 'X_tsne0.6', 'X_tsne0.8', 'X_tsne1.4', 'X_tsne2.0', 'X_umap', 'X_umap0.2', 'X_umap0.4', 'X_umap0.6', 'X_umap0.8', 'X_umap1.4', 'X_umap2.0'

In [18]:
combined.var=adatas.var

In [19]:
combined.obs['desc_0.8']

Z1_F_F1_AAACCTGAGAGACGAA    16
Z1_F_F1_AAACCTGAGGGCTTCC    16
Z1_F_F1_AAACCTGCAGGACGTA     2
Z1_F_F1_AAACCTGGTATTCGTG     2
Z1_F_F1_AAACCTGTCAAACCAC     2
                            ..
TTGGTCACACTCGTAA-1          22
TTGTAAGGCCAGTTGG-1          17
TTGTGGTAGGAGGGAT-1          16
TTGTGTATGCCACCAA-1           4
TTGTGTTTCCCGAAAG-1          19
Name: desc_0.8, Length: 41358, dtype: int64

In [20]:
#保存报错TypeError: Can't implicitly convert non-string objects to strings  Above error raised while writing key 'desc_0.4' of <class 'h5py._hl.group.Group'> from /.  Above error raised while writing key 'obs' of <class 'h5py._hl.files.File'> from /.
del combined.obs['desc_0.4']
del combined.obs['desc_0.6']
del combined.obs['desc_0.2']
del combined.obs['desc_1.4']
del combined.obs['desc_2.0']

In [21]:
combined.write_h5ad("combine_strctd.h5ad")

... storing 'batch' as categorical

In [22]:
combined=sc.read_h5ad("combine_strctd.h5ad")
combined

AnnData object with n_obs × n_vars = 41358 × 2977
    obs: 'orig.ident', 'nCount_RNA', 'nFeature_RNA', 'n_counts', 'desc_0.8', 'batch', 'nCount_Spatial', 'nFeature_Spatial'
    var: 'features'
    obsm: 'X_Embeded_z0.2', 'X_Embeded_z0.4', 'X_Embeded_z0.6', 'X_Embeded_z0.8', 'X_Embeded_z1.4', 'X_Embeded_z2.0', 'X_tsne', 'X_tsne0.2', 'X_tsne0.4', 'X_tsne0.6', 'X_tsne0.8', 'X_tsne1.4', 'X_tsne2.0', 'X_umap', 'X_umap0.2', 'X_umap0.4', 'X_umap0.6', 'X_umap0.8', 'X_umap1.4', 'X_umap2.0'

In [23]:
print(combined.X)   #not norm rawdata

  (0, 5)	2.0
  (0, 8)	4.0
  (0, 12)	2.0
  (0, 15)	1.0
  (0, 21)	6.0
  (0, 24)	1.0
  (0, 59)	5.0
  (0, 110)	1.0
  (0, 115)	2.0
  (0, 118)	2.0
  (0, 122)	2.0
  (0, 128)	5.0
  (0, 141)	6.0
  (0, 155)	12.0
  (0, 156)	11.0
  (0, 160)	10.0
  (0, 165)	3.0
  (0, 166)	24.0
  (0, 173)	7.0
  (0, 179)	11.0
  (0, 187)	13.0
  (0, 189)	1.0
  (0, 193)	10.0
  (0, 200)	3.0
  (0, 220)	2.0
  :	:
  (41357, 2926)	4.0
  (41357, 2927)	1.0
  (41357, 2930)	2.0
  (41357, 2933)	1.0
  (41357, 2934)	18.0
  (41357, 2938)	5.0
  (41357, 2939)	1.0
  (41357, 2940)	9.0
  (41357, 2941)	1.0
  (41357, 2943)	1.0
  (41357, 2944)	17.0
  (41357, 2951)	77.0
  (41357, 2953)	2.0
  (41357, 2957)	5.0
  (41357, 2958)	3.0
  (41357, 2959)	2.0
  (41357, 2961)	14.0
  (41357, 2963)	1.0
  (41357, 2965)	2.0
  (41357, 2966)	3.0
  (41357, 2969)	3.0
  (41357, 2970)	2.0
  (41357, 2971)	3.0
  (41357, 2975)	2.0
  (41357, 2976)	1.0

In [24]:
combined.var_names

Index(['Hbb-bt', 'S100a8', 'Hba-a2', 'S100a9', 'Hba-a1', 'S100g', 'Hbb-bs',
       'Psca', 'Klk1', 'Ccl5',
       ...
       'Sctr', 'Atg101', 'Hoxb3os', 'Lama2', 'Adra2b', 'Pmaip1', 'Aoah', 'Afm',
       'Mthfd2l', 'Gm11789'],
      dtype='object', length=2977)

In [25]:
combined.shape

(41358, 2977)

## 分开traindata/validation

In [26]:
import random

In [27]:
traindata = anndata.AnnData()
# 从原始anndata对象中获取观测点的索引:train:validation = 6:4
random_indices = random.sample(range(combined.shape[0]), int(combined.shape[0]*0.6))
# 根据索引抽取对应的观测数据
traindata = combined[random_indices, :]
traindata

View of AnnData object with n_obs × n_vars = 24814 × 2977
    obs: 'orig.ident', 'nCount_RNA', 'nFeature_RNA', 'n_counts', 'desc_0.8', 'batch', 'nCount_Spatial', 'nFeature_Spatial'
    var: 'features'
    obsm: 'X_Embeded_z0.2', 'X_Embeded_z0.4', 'X_Embeded_z0.6', 'X_Embeded_z0.8', 'X_Embeded_z1.4', 'X_Embeded_z2.0', 'X_tsne', 'X_tsne0.2', 'X_tsne0.4', 'X_tsne0.6', 'X_tsne0.8', 'X_tsne1.4', 'X_tsne2.0', 'X_umap', 'X_umap0.2', 'X_umap0.4', 'X_umap0.6', 'X_umap0.8', 'X_umap1.4', 'X_umap2.0'

In [28]:
traindata.obs['batch'].value_counts()

sc    24440
st      374
Name: batch, dtype: int64

In [29]:
combined.obs['batch'].value_counts()

sc    40712
st      646
Name: batch, dtype: int64

In [30]:
traindata.write_h5ad("traindata.h5ad")

In [31]:
validation = anndata.AnnData()
# 从原始anndata对象中获取观测点的索引:train:validation = 6:4
random_indices = random.sample(range(combined.shape[0]), int(combined.shape[0]*0.4))
# 根据索引抽取对应的观测数据
validation = combined[random_indices, :]
validation

View of AnnData object with n_obs × n_vars = 16543 × 2977
    obs: 'orig.ident', 'nCount_RNA', 'nFeature_RNA', 'n_counts', 'desc_0.8', 'batch', 'nCount_Spatial', 'nFeature_Spatial'
    var: 'features'
    obsm: 'X_Embeded_z0.2', 'X_Embeded_z0.4', 'X_Embeded_z0.6', 'X_Embeded_z0.8', 'X_Embeded_z1.4', 'X_Embeded_z2.0', 'X_tsne', 'X_tsne0.2', 'X_tsne0.4', 'X_tsne0.6', 'X_tsne0.8', 'X_tsne1.4', 'X_tsne2.0', 'X_umap', 'X_umap0.2', 'X_umap0.4', 'X_umap0.6', 'X_umap0.8', 'X_umap1.4', 'X_umap2.0'

In [32]:
validation.write_h5ad("validation.h5ad")

In [33]:
validation.obs['batch'].value_counts()

sc    16293
st      250
Name: batch, dtype: int64

##下采样

#平均表达个数=sc/st

In [34]:
sc_combine.obs['nFeature_RNA']

Z1_F_F1_AAACCTGAGAGACGAA    347
Z1_F_F1_AAACCTGAGGGCTTCC    370
Z1_F_F1_AAACCTGCAGGACGTA    268
Z1_F_F1_AAACCTGGTATTCGTG    164
Z1_F_F1_AAACCTGTCAAACCAC    153
                           ...
Z3_M_M2_TTTGTCAAGTGGTCCC    267
Z3_M_M2_TTTGTCACATCACAAC    160
Z3_M_M2_TTTGTCACATCGTCGG    330
Z3_M_M2_TTTGTCAGTAACGACG    211
Z3_M_M2_TTTGTCATCTCAAGTG    119
Name: nFeature_RNA, Length: 40712, dtype: int32

In [35]:
st_combine.obs['nFeature_Spatial']

AAACCGTTCGTCCAGG-1     992
AAACCTAAGCAGCCGG-1    1084
AAACGAGACGGTTGAT-1    1363
AAACGGTTGCGAACTG-1    1138
AAACTCGGTTCGCAAT-1    1423
                      ...
TTGTGTATGCCACCAA-1    1194
TTGTGTTTCCCGAAAG-1    1218
TTGTTCAGTGTGCTAC-1    1134
TTGTTGTGTGTCAAGA-1    1013
TTGTTTCACATCCAGG-1    1256
Name: nFeature_Spatial, Length: 1438, dtype: int32

In [36]:
scaverages=sc_combine.obs['nFeature_RNA'].mean()
print(scaverages)
staverages=st_combine.obs['nFeature_Spatial'].mean()   
print(staverages)
alpha=scaverages/staverages 
alpha 
#231.72607584987227
#1121.7586926286508
#0.20657390700210365

231.72607584987227
1121.7586926286508

0.20657390700210365

In [64]:
###下采样####################

In [37]:
def lower_sample_data(rawdata, alpha):
    """
    将矩阵中的每个元素有概率 p 保留原值，有概率 1-p 变成 0
    """
    #创建一个与原始矩阵大小相同的随机矩阵
    random_matrix=np.random.choice([0,1], size=(rawdata.shape[0],rawdata.shape[1]), replace=True, p=[1-alpha,alpha])
    # 将原始矩阵中的元素与随机矩阵中的元素按位相乘
    result = rawdata * random_matrix
    return result

In [38]:
validation=sc.read_h5ad("validation.h5ad")
traindata=sc.read_h5ad("traindata.h5ad")

In [39]:
traindata

AnnData object with n_obs × n_vars = 24814 × 2977
    obs: 'orig.ident', 'nCount_RNA', 'nFeature_RNA', 'n_counts', 'desc_0.8', 'batch', 'nCount_Spatial', 'nFeature_Spatial'
    var: 'features'
    obsm: 'X_Embeded_z0.2', 'X_Embeded_z0.4', 'X_Embeded_z0.6', 'X_Embeded_z0.8', 'X_Embeded_z1.4', 'X_Embeded_z2.0', 'X_tsne', 'X_tsne0.2', 'X_tsne0.4', 'X_tsne0.6', 'X_tsne0.8', 'X_tsne1.4', 'X_tsne2.0', 'X_umap', 'X_umap0.2', 'X_umap0.4', 'X_umap0.6', 'X_umap0.8', 'X_umap1.4', 'X_umap2.0'

In [40]:
traindatasubset_sc=traindata[traindata.obs['batch']=='sc']
traindatasubset_st=traindata[traindata.obs['batch']=='st']
traindatasubset_st

View of AnnData object with n_obs × n_vars = 374 × 2977
    obs: 'orig.ident', 'nCount_RNA', 'nFeature_RNA', 'n_counts', 'desc_0.8', 'batch', 'nCount_Spatial', 'nFeature_Spatial'
    var: 'features'
    obsm: 'X_Embeded_z0.2', 'X_Embeded_z0.4', 'X_Embeded_z0.6', 'X_Embeded_z0.8', 'X_Embeded_z1.4', 'X_Embeded_z2.0', 'X_tsne', 'X_tsne0.2', 'X_tsne0.4', 'X_tsne0.6', 'X_tsne0.8', 'X_tsne1.4', 'X_tsne2.0', 'X_umap', 'X_umap0.2', 'X_umap0.4', 'X_umap0.6', 'X_umap0.8', 'X_umap1.4', 'X_umap2.0'

In [41]:
lower_sample_data_1=lower_sample_data(pd.DataFrame(traindatasubset_st.X.todense()), alpha)
lower_sample_data_1
lower_sample_data_1.index=traindatasubset_st.obs_names
lower_sample_data_1.index
lower_sample_data_1.columns=traindatasubset_st.var_names
lower_sample_data_1.columns
traindata_st=sc.AnnData(lower_sample_data_1)
traindata_st
traindata_st.obs["batch"]="st"

In [42]:
int(traindatasubset_sc.shape[0]/traindatasubset_st.shape[0])

65

In [43]:
###循环抽样sc/st次
names = locals()
for i in range(1,int(traindatasubset_sc.shape[0]/traindatasubset_st.shape[0])+1):
    print(i)
    names['lower_sample_data_%s'%i]=lower_sample_data(pd.DataFrame(traindatasubset_st.X.todense()), alpha)
    names['lower_sample_data_%s'%i].index=traindatasubset_st.obs_names
    names['lower_sample_data_%s'%i].columns=traindatasubset_st.var_names
    names['traindata_st_%s'%i]=sc.AnnData(lower_sample_data_1)
    names['traindata_st_%s'%i].obs["batch"]="st"
    names['traindata_st_%s'%i].obs["desc_0.8"]=traindatasubset_st.obs['desc_0.8']
    names['traindata_st_%s'%i].obs["batch_sub"]='st_%s'%i

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65

In [44]:
##
traindata_st_65

AnnData object with n_obs × n_vars = 374 × 2977
    obs: 'batch', 'desc_0.8', 'batch_sub'

In [73]:
#sc_combine.X=sc_combine.X.toarray()

In [45]:
import anndata as ad
names = locals()
traindata_combine_1=traindata_st_1
for i in range(1,int(traindatasubset_sc.shape[0]/traindatasubset_st.shape[0])):
    print(i)
    names['traindata_combine_%s'%(i+1)]=ad.concat([names['traindata_combine_%s'%i],names['traindata_st_%s'%(i+1)]], join="outer")

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.

1
2
3
4
5
6
7
8
9
10
11

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.

12
13
14
15
16
17

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.

18
19
20
21
22

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.

23
24
25
26

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.

27
28
29
30

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.

31
32
33

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.

34
35
36

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.

37
38
39

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.

40
41
42

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.

43
44
45

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.

46
47
48

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.

49
50

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.

51
52

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.

53
54

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.

55
56

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.

57
58

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.

59
60

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.

61
62

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.

63
64

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.

In [46]:
traindata_combine_65

AnnData object with n_obs × n_vars = 24310 × 2977
    obs: 'batch', 'desc_0.8', 'batch_sub'

In [47]:
traindata_combine_65.write_h5ad("traindata_undersample_st.h5ad")

... storing 'batch' as categorical
... storing 'batch_sub' as categorical

In [48]:
sc_combine

AnnData object with n_obs × n_vars = 40712 × 2977
    obs: 'orig.ident', 'nCount_RNA', 'nFeature_RNA', 'n_counts', 'desc_0.2', 'desc_0.4', 'desc_0.6', 'desc_0.8', 'desc_1.4', 'desc_2.0', 'batch'
    var: 'features', 'mean', 'std'
    uns: 'prob_matrix0.2', 'prob_matrix0.4', 'prob_matrix0.6', 'prob_matrix0.8', 'prob_matrix1.4', 'prob_matrix2.0', 'umap'
    obsm: 'X_Embeded_z0.2', 'X_Embeded_z0.4', 'X_Embeded_z0.6', 'X_Embeded_z0.8', 'X_Embeded_z1.4', 'X_Embeded_z2.0', 'X_tsne', 'X_tsne0.2', 'X_tsne0.4', 'X_tsne0.6', 'X_tsne0.8', 'X_tsne1.4', 'X_tsne2.0', 'X_umap', 'X_umap0.2', 'X_umap0.4', 'X_umap0.6', 'X_umap0.8', 'X_umap1.4', 'X_umap2.0'
    obsp: 'connectivities', 'distances'

In [49]:
#traindata_combine_26=sc.read_h5ad("traindata_undersample_st.h5ad")
traindata_combine=ad.concat([sc_combine,traindata_combine_65],join="outer")
traindata_combine

/home/huggs/anaconda3/envs/SCST/lib/python3.6/site-packages/anndata/_core/merge.py:918: UserWarning: Only some AnnData objects have `.raw` attribute, not concatenating `.raw` attributes.
  UserWarning,
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.

AnnData object with n_obs × n_vars = 65022 × 2977
    obs: 'orig.ident', 'nCount_RNA', 'nFeature_RNA', 'n_counts', 'desc_0.2', 'desc_0.4', 'desc_0.6', 'desc_0.8', 'desc_1.4', 'desc_2.0', 'batch', 'batch_sub'
    obsm: 'X_Embeded_z0.2', 'X_Embeded_z0.4', 'X_Embeded_z0.6', 'X_Embeded_z0.8', 'X_Embeded_z1.4', 'X_Embeded_z2.0', 'X_tsne', 'X_tsne0.2', 'X_tsne0.4', 'X_tsne0.6', 'X_tsne0.8', 'X_tsne1.4', 'X_tsne2.0', 'X_umap', 'X_umap0.2', 'X_umap0.4', 'X_umap0.6', 'X_umap0.8', 'X_umap1.4', 'X_umap2.0'

In [50]:
traindata_combine.obs

,orig.ident,nCount_RNA,nFeature_RNA,n_counts,desc_0.2,desc_0.4,desc_0.6,desc_0.8,desc_1.4,desc_2.0,batch,batch_sub
Z1_F_F1_AAACCTGAGAGACGAA,0.0,963.0,347.0,963.0,1,4,14,16,19,21,sc,NaN
Z1_F_F1_AAACCTGAGGGCTTCC,0.0,1107.0,370.0,1107.0,1,4,14,16,19,21,sc,NaN
Z1_F_F1_AAACCTGCAGGACGTA,0.0,726.0,268.0,726.0,14,18,3,2,2,1,sc,NaN
Z1_F_F1_AAACCTGGTATTCGTG,0.0,370.0,164.0,370.0,0,0,3,2,2,2,sc,NaN
Z1_F_F1_AAACCTGTCAAACCAC,0.0,352.0,153.0,352.0,14,0,3,2,3,2,sc,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
TTGGATATCGTCTACG-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19,NaN,NaN,st,st_65
ATATAAATGTAGCTGC-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22,NaN,NaN,st,st_65
GTGATCACTAACGCCT-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16,NaN,NaN,st,st_65
ACAAATCGCACCGAAT-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22,NaN,NaN,st,st_65
TTGGTCACACTCGTAA-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22,NaN,NaN,st,st_65

In [51]:
traindata_combine.X #需要转换稀疏阵为array，否则desc报错无法转换为tensor

<65022x2977 sparse matrix of type '<class 'numpy.float32'>'
	with 15555602 stored elements in Compressed Sparse Row format>

In [52]:
#保存报错TypeError: Can't implicitly convert non-string objects to strings  Above error raised while writing key 'desc_0.4' of <class 'h5py._hl.group.Group'> from /.  Above error raised while writing key 'obs' of <class 'h5py._hl.files.File'> from /.
del traindata_combine.obs['desc_0.4']
del traindata_combine.obs['desc_0.6']
del traindata_combine.obs['desc_0.2']
del traindata_combine.obs['desc_1.4']
del traindata_combine.obs['desc_2.0']

In [53]:
traindata_combine.write_h5ad("traindata_undersample.h5ad")

... storing 'batch' as categorical
... storing 'batch_sub' as categorical

##validation

In [59]:
##validation
#desc_0.8
validationsubset_sc=validation[validation.obs['batch']=='sc']
validationsubset_st=validation[validation.obs['batch']=='st']
print(validationsubset_st)
lower_sample_data_1=lower_sample_data(pd.DataFrame(validationsubset_st.X.todense()), alpha)
lower_sample_data_1
lower_sample_data_1.index=validationsubset_st.obs_names
lower_sample_data_1.index
lower_sample_data_1.columns=validationsubset_st.var_names
lower_sample_data_1.columns
validation_st=sc.AnnData(lower_sample_data_1)
validation_st
validation_st.obs["batch"]="st"
###循环抽样sc/st次
names = locals()
for i in range(1,int(validationsubset_sc.shape[0]/validationsubset_st.shape[0])+1):
    print(i)
    names['lower_sample_data_%s'%i]=lower_sample_data(pd.DataFrame(validationsubset_st.X.todense()), alpha)
    names['lower_sample_data_%s'%i].index=validationsubset_st.obs_names
    names['lower_sample_data_%s'%i].columns=validationsubset_st.var_names
    names['validation_st_%s'%i]=sc.AnnData(lower_sample_data_1)
    names['validation_st_%s'%i].obs["batch"]="st"
    names['validation_st_%s'%i].obs["desc_0.8"]=validationsubset_st.obs['desc_0.8']
    names['validation_st_%s'%i].obs["batch_sub"]='st_%s'%i

import anndata as ad
names = locals()
validation_combine_1=validation_st_1
for i in range(1,int(validationsubset_sc.shape[0]/validationsubset_st.shape[0])):
    print(i)
    names['validation_combine_%s'%(i+1)]=ad.concat([names['validation_combine_%s'%i],names['validation_st_%s'%(i+1)]], join="outer")

View of AnnData object with n_obs × n_vars = 250 × 2977
    obs: 'orig.ident', 'nCount_RNA', 'nFeature_RNA', 'n_counts', 'desc_0.8', 'batch', 'nCount_Spatial', 'nFeature_Spatial'
    var: 'features'
    obsm: 'X_Embeded_z0.2', 'X_Embeded_z0.4', 'X_Embeded_z0.6', 'X_Embeded_z0.8', 'X_Embeded_z1.4', 'X_Embeded_z2.0', 'X_tsne', 'X_tsne0.2', 'X_tsne0.4', 'X_tsne0.6', 'X_tsne0.8', 'X_tsne1.4', 'X_tsne2.0', 'X_umap', 'X_umap0.2', 'X_umap0.4', 'X_umap0.6', 'X_umap0.8', 'X_umap1.4', 'X_umap2.0'
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.

64
65
1
2
3
4
5
6
7
8
9
10
11
12
13

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.

14
15
16
17
18
19
20
21

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.

22
23
24
25
26
27

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.

28
29
30
31
32

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.

33
34
35
36
37

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.

38
39
40
41

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.

42
43
44
45

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.

46
47
48
49

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.

50
51
52

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.

53
54
55

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.

56
57
58

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.

59
60
61

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.

62
63
64

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.

In [60]:
a=int(validationsubset_sc.shape[0]/validationsubset_st.shape[0])
a

65

In [56]:
validation_combine_65

AnnData object with n_obs × n_vars = 16250 × 2977
    obs: 'batch', 'desc_0.8', 'batch_sub'

In [57]:
validation_combine_65.write_h5ad("validation_undersample_st.h5ad")

... storing 'batch' as categorical
... storing 'batch_sub' as categorical

In [58]:
validation_combine_65=sc.read_h5ad("validation_undersample_st.h5ad")
validation_combine=ad.concat([sc_combine,validation_combine_65],join="outer")
validation_combine

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
/home/huggs/anaconda3/envs/SCST/lib/python3.6/site-packages/anndata/_core/merge.py:918: UserWarning: Only some AnnData objects have `.raw` attribute, not concatenating `.raw` attributes.
  UserWarning,
Observation names are not unique. To make them unique, call `.obs_names_make_unique`.

AnnData object with n_obs × n_vars = 56962 × 2977
    obs: 'orig.ident', 'nCount_RNA', 'nFeature_RNA', 'n_counts', 'desc_0.2', 'desc_0.4', 'desc_0.6', 'desc_0.8', 'desc_1.4', 'desc_2.0', 'batch', 'batch_sub'
    obsm: 'X_Embeded_z0.2', 'X_Embeded_z0.4', 'X_Embeded_z0.6', 'X_Embeded_z0.8', 'X_Embeded_z1.4', 'X_Embeded_z2.0', 'X_tsne', 'X_tsne0.2', 'X_tsne0.4', 'X_tsne0.6', 'X_tsne0.8', 'X_tsne1.4', 'X_tsne2.0', 'X_umap', 'X_umap0.2', 'X_umap0.4', 'X_umap0.6', 'X_umap0.8', 'X_umap1.4', 'X_umap2.0'

In [61]:
del validation_combine.obs['desc_0.4']
del validation_combine.obs['desc_0.6']
del validation_combine.obs['desc_0.2']
del validation_combine.obs['desc_1.4']
del validation_combine.obs['desc_2.0']

In [62]:
validation_combine.write_h5ad("validation_undersample.h5ad")

... storing 'batch' as categorical
... storing 'batch_sub' as categorical

In [ ]:
###########################################################

In [ ]:
#随机数列
percent=np.random.choice([0,1], size=(st.shape[1]), replace=True, p=[0.4212802,0.5787198])
percent

array([1, 1, 0, ..., 0, 1, 1])

In [ ]:
percent.shape

(31053,)

In [ ]:
st.var.index

Index(['Xkr4', 'Gm1992', 'Gm37381', 'Rp1', 'Sox17', 'Gm37323', 'Mrpl15',
       'Lypla1', 'Gm37988', 'Tcea1',
       ...
       'AC125149.1', 'AC125149.2', 'AC125149.4', 'AC234645.1', 'AC168977.2',
       'AC168977.1', 'AC149090.1', 'CAAA01118383.1', 'Vmn2r122',
       'CAAA01147332.1'],
      dtype='object', length=31053)

In [ ]:
type(st.X)

scipy.sparse.csr.csr_matrix

In [ ]:
#对每个spot，按概率随机表达一定个数的genes

In [ ]:
def lower_sample_data(rowdata, alpha):
    """
    将矩阵中的每个元素有概率 p 保留原值，有概率 1-p 变成 0
    """
    #创建一个与原始矩阵大小相同的随机矩阵
    random_matrix=np.random.choice([0,1], size=(st.shape[0],st.shape[1]), replace=True, p=[1-alpha,alpha])
    # 将原始矩阵中的元素与随机矩阵中的元素按位相乘
    result = rowdata * random_matrix
    return result

In [ ]:
st.X.todense()

matrix([[2., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 2., 0., 0.],
        [0., 0., 0., ..., 1., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [1., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]], dtype=float32)

In [ ]:
lower_sample_data(pd.DataFrame(st.X.todense()), 0.5)

,0,1,2,3,4,5,6,7,8,9,...,31043,31044,31045,31046,31047,31048,31049,31050,31051,31052
0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2982,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0
2983,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2984,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2985,1.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2986,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
#############################################################################

In [ ]:
import random
def lower_sample_data(rowdata, alpha):
    newX=pd.DataFrame()
    #newX=csr_matrix
    #for index, row in rowdata.iterrows():
    #for x in range(len(row)):
    for x in rowdata:
            if random.random() < alpha:
                print(x)
                newX.append(x)
            else:
                newX=0
        return newX