In [1]:
import os              
os.environ['PYTHONHASHSEED'] = '0'
import desc          
import pandas as pd                                                    
import numpy as np                                                     
import scanpy as sc                                                                                 
from time import time                                                       
import sys
import matplotlib
import matplotlib.pyplot as plt

import tensorflow as tf

In [12]:
import anndata as ad

In [13]:
adata = sc.read_h5ad('/home/huggs/shiyi/SCST/RCTD/RCTD/predata/celltrek_kidney/celltrek_kidney/Mouse_Adult_DGE.h5ad')

In [14]:
adata

AnnData object with n_obs × n_vars = 40712 × 27998
    obs: 'orig.ident', 'nCount_RNA', 'nFeature_RNA'
    var: 'features'

In [15]:
adata.obs

                          orig.ident  nCount_RNA  nFeature_RNA
Z1_F_F1_AAACCTGAGAGACGAA           0      5989.0          1712
Z1_F_F1_AAACCTGAGGGCTTCC           0      4752.0          1633
Z1_F_F1_AAACCTGCAGGACGTA           0      4624.0          2136
Z1_F_F1_AAACCTGGTATTCGTG           0      2126.0          1204
Z1_F_F1_AAACCTGTCAAACCAC           0      1742.0          1013
...                              ...         ...           ...
Z3_M_M2_TTTGTCAAGTGGTCCC           2      4284.0          1903
Z3_M_M2_TTTGTCACATCACAAC           2      2772.0          1234
Z3_M_M2_TTTGTCACATCGTCGG           2      6254.0          2466
Z3_M_M2_TTTGTCAGTAACGACG           2      3379.0          1303
Z3_M_M2_TTTGTCATCTCAAGTG           2      1538.0           826

[40712 rows x 3 columns]

In [16]:
adata.var

                      features
Xkr4                      Xkr4
Gm1992                  Gm1992
Gm37381                Gm37381
Rp1                        Rp1
Rp1.1                    Rp1.1
...                        ...
AC168977.1          AC168977.1
PISD                      PISD
DHRSX                    DHRSX
Vmn2r122              Vmn2r122
CAAA01147332.1  CAAA01147332.1

[27998 rows x 1 columns]

In [17]:
print(adata.raw)

Raw AnnData with n_obs × n_vars = 40712 × 27998
    var: '_index'

In [18]:
adata_train=sc.read_h5ad("/home/huggs/shiyi/SCST/RCTD/RCTD/predata/celltrek_kidney/mymodel/2_desc/2_desc_222copy/sc_desc.h5ad")

In [19]:
adata_train

AnnData object with n_obs × n_vars = 40712 × 2977
    obs: 'orig.ident', 'nCount_RNA', 'nFeature_RNA', 'n_counts', 'desc_0.2', 'desc_0.4', 'desc_0.6', 'desc_0.8', 'desc_1.4', 'desc_2.0'
    var: 'features', 'mean', 'std'
    uns: 'prob_matrix0.2', 'prob_matrix0.4', 'prob_matrix0.6', 'prob_matrix0.8', 'prob_matrix1.4', 'prob_matrix2.0', 'umap'
    obsm: 'X_Embeded_z0.2', 'X_Embeded_z0.4', 'X_Embeded_z0.6', 'X_Embeded_z0.8', 'X_Embeded_z1.4', 'X_Embeded_z2.0', 'X_tsne', 'X_tsne0.2', 'X_tsne0.4', 'X_tsne0.6', 'X_tsne0.8', 'X_tsne1.4', 'X_tsne2.0', 'X_umap', 'X_umap0.2', 'X_umap0.4', 'X_umap0.6', 'X_umap0.8', 'X_umap1.4', 'X_umap2.0'
    obsp: 'connectivities', 'distances'

In [20]:
adata_train.obs

,orig.ident,nCount_RNA,nFeature_RNA,n_counts,desc_0.2,desc_0.4,desc_0.6,desc_0.8,desc_1.4,desc_2.0
Z1_F_F1_AAACCTGAGAGACGAA,0,963.0,347,963.0,1,4,14,16,19,21
Z1_F_F1_AAACCTGAGGGCTTCC,0,1107.0,370,1107.0,1,4,14,16,19,21
Z1_F_F1_AAACCTGCAGGACGTA,0,726.0,268,726.0,14,18,3,2,2,1
Z1_F_F1_AAACCTGGTATTCGTG,0,370.0,164,370.0,0,0,3,2,2,2
Z1_F_F1_AAACCTGTCAAACCAC,0,352.0,153,352.0,14,0,3,2,3,2
...,...,...,...,...,...,...,...,...,...,...
Z3_M_M2_TTTGTCAAGTGGTCCC,2,806.0,267,806.0,5,6,6,11,11,12
Z3_M_M2_TTTGTCACATCACAAC,2,336.0,160,336.0,0,0,0,0,1,0
Z3_M_M2_TTTGTCACATCGTCGG,2,1293.0,330,1293.0,3,2,2,5,6,7
Z3_M_M2_TTTGTCAGTAACGACG,2,1065.0,211,1065.0,2,1,1,1,0,5
Z3_M_M2_TTTGTCATCTCAAGTG,2,262.0,119,262.0,0,0,0,0,1,0

In [21]:
adata_train.var

        features      mean       std
Hbb-bt    Hbb-bt  0.238835  0.926993
S100a8    S100a8  0.060286  0.481082
Hba-a2    Hba-a2  0.428353  1.243389
S100a9    S100a9  0.056059  0.458779
Hba-a1    Hba-a1  0.492629  1.311441
...          ...       ...       ...
Pmaip1    Pmaip1  0.082026  0.439037
Aoah        Aoah  0.062705  0.374850
Afm          Afm  0.095373  0.495678
Mthfd2l  Mthfd2l  0.064948  0.404011
Gm11789  Gm11789  0.040318  0.326937

[2977 rows x 3 columns]

In [22]:
print(adata.raw.X)

  (0, 8)	3.0
  (0, 13)	1.0
  (0, 16)	1.0
  (0, 20)	1.0
  (0, 29)	1.0
  (0, 52)	1.0
  (0, 62)	1.0
  (0, 63)	1.0
  (0, 70)	1.0
  (0, 113)	1.0
  (0, 117)	1.0
  (0, 153)	1.0
  (0, 179)	2.0
  (0, 188)	1.0
  (0, 227)	4.0
  (0, 246)	1.0
  (0, 338)	1.0
  (0, 340)	1.0
  (0, 341)	1.0
  (0, 369)	1.0
  (0, 372)	1.0
  (0, 377)	1.0
  (0, 400)	1.0
  (0, 428)	1.0
  (0, 458)	8.0
  :	:
  (40711, 27301)	1.0
  (40711, 27315)	2.0
  (40711, 27319)	1.0
  (40711, 27321)	1.0
  (40711, 27340)	1.0
  (40711, 27346)	3.0
  (40711, 27506)	1.0
  (40711, 27512)	1.0
  (40711, 27584)	1.0
  (40711, 27594)	1.0
  (40711, 27614)	1.0
  (40711, 27754)	1.0
  (40711, 27806)	1.0
  (40711, 27814)	1.0
  (40711, 27847)	1.0
  (40711, 27848)	1.0
  (40711, 27908)	11.0
  (40711, 27909)	3.0
  (40711, 27910)	9.0
  (40711, 27911)	4.0
  (40711, 27913)	16.0
  (40711, 27914)	19.0
  (40711, 27915)	3.0
  (40711, 27917)	2.0
  (40711, 27920)	3.0

In [23]:
print(adata_train.raw.X)

  (0, 5)	2.0
  (0, 8)	4.0
  (0, 12)	2.0
  (0, 15)	1.0
  (0, 21)	6.0
  (0, 24)	1.0
  (0, 59)	5.0
  (0, 110)	1.0
  (0, 115)	2.0
  (0, 118)	2.0
  (0, 122)	2.0
  (0, 128)	5.0
  (0, 141)	6.0
  (0, 155)	12.0
  (0, 156)	11.0
  (0, 160)	10.0
  (0, 165)	3.0
  (0, 166)	24.0
  (0, 173)	7.0
  (0, 179)	11.0
  (0, 187)	13.0
  (0, 189)	1.0
  (0, 193)	10.0
  (0, 200)	3.0
  (0, 220)	2.0
  :	:
  (40711, 2388)	1.0
  (40711, 2393)	1.0
  (40711, 2424)	1.0
  (40711, 2426)	1.0
  (40711, 2439)	7.0
  (40711, 2445)	1.0
  (40711, 2503)	1.0
  (40711, 2584)	1.0
  (40711, 2592)	6.0
  (40711, 2611)	3.0
  (40711, 2612)	1.0
  (40711, 2647)	1.0
  (40711, 2687)	1.0
  (40711, 2727)	7.0
  (40711, 2741)	2.0
  (40711, 2767)	2.0
  (40711, 2769)	1.0
  (40711, 2773)	2.0
  (40711, 2777)	1.0
  (40711, 2810)	1.0
  (40711, 2813)	1.0
  (40711, 2922)	2.0
  (40711, 2938)	1.0
  (40711, 2940)	2.0
  (40711, 2961)	2.0

In [24]:
################新变量###############
#adata.raw.X赋给adata_train.X
import scipy.sparse
my_matrix=adata.raw.X
type(my_matrix)
my_array=my_matrix.A
my_array

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [25]:
#adata_train.X换成adata.raw.X,adata_train.var换成adata.var
adata_trainnew = ad.AnnData(my_array, obs=adata.obs, var=adata.var)
adata_trainnew.uns=adata_train.uns
adata_trainnew.obsm=adata_train.obsm
adata_trainnew.obsp=adata_train.obsp
adata_trainnew.obs
adata_trainnew

AnnData object with n_obs × n_vars = 40712 × 27998
    obs: 'orig.ident', 'nCount_RNA', 'nFeature_RNA'
    var: 'features'
    uns: 'prob_matrix0.2', 'prob_matrix0.4', 'prob_matrix0.6', 'prob_matrix0.8', 'prob_matrix1.4', 'prob_matrix2.0', 'umap'
    obsm: 'X_Embeded_z0.2', 'X_Embeded_z0.4', 'X_Embeded_z0.6', 'X_Embeded_z0.8', 'X_Embeded_z1.4', 'X_Embeded_z2.0', 'X_tsne', 'X_tsne0.2', 'X_tsne0.4', 'X_tsne0.6', 'X_tsne0.8', 'X_tsne1.4', 'X_tsne2.0', 'X_umap', 'X_umap0.2', 'X_umap0.4', 'X_umap0.6', 'X_umap0.8', 'X_umap1.4', 'X_umap2.0'
    obsp: 'connectivities', 'distances'

In [26]:
type(adata_trainnew.X)

numpy.ndarray

In [27]:
print(adata_trainnew.raw)

None

In [28]:
print(adata.raw)

Raw AnnData with n_obs × n_vars = 40712 × 27998
    var: '_index'

In [29]:
adata.raw.var.index

Index(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9',
       ...
       '27988', '27989', '27990', '27991', '27992', '27993', '27994', '27995',
       '27996', '27997'],
      dtype='object', length=27998)

In [30]:
adata_trainnew.raw

In [31]:
adata_trainnew.var.index

Index(['Xkr4', 'Gm1992', 'Gm37381', 'Rp1', 'Rp1.1', 'Sox17', 'Gm37323',
       'Mrpl15', 'Lypla1', 'Gm37988',
       ...
       'AC125149.1', 'AC125149.2', 'AC125149.4', 'AC234645.1', 'AC168977.2',
       'AC168977.1', 'PISD', 'DHRSX', 'Vmn2r122', 'CAAA01147332.1'],
      dtype='object', length=27998)

In [32]:
#INDEX
adata.raw.var.index = adata_trainnew.var.index
adata.raw.var

                        _index
Xkr4                      Xkr4
Gm1992                  Gm1992
Gm37381                Gm37381
Rp1                        Rp1
Rp1.1                    Rp1.1
...                        ...
AC168977.1          AC168977.1
PISD                      PISD
DHRSX                    DHRSX
Vmn2r122              Vmn2r122
CAAA01147332.1  CAAA01147332.1

[27998 rows x 1 columns]

In [33]:
adata.__dict__['_raw'].__dict__['_var'] = adata.__dict__['_raw'].__dict__['_var'].rename(columns={'_index': 'features'})
adata.raw.var

                      features
Xkr4                      Xkr4
Gm1992                  Gm1992
Gm37381                Gm37381
Rp1                        Rp1
Rp1.1                    Rp1.1
...                        ...
AC168977.1          AC168977.1
PISD                      PISD
DHRSX                    DHRSX
Vmn2r122              Vmn2r122
CAAA01147332.1  CAAA01147332.1

[27998 rows x 1 columns]

In [36]:
#adata.raw赋给adata_trainnew
adata_trainnew.raw = adata
adata_trainnew.raw

In [37]:
print(adata_trainnew.raw)

Raw AnnData with n_obs × n_vars = 40712 × 27998
    var: 'features'

In [38]:
adata_trainnew.raw.var

                      features
Xkr4                      Xkr4
Gm1992                  Gm1992
Gm37381                Gm37381
Rp1                        Rp1
Rp1.1                    Rp1.1
...                        ...
AC168977.1          AC168977.1
PISD                      PISD
DHRSX                    DHRSX
Vmn2r122              Vmn2r122
CAAA01147332.1  CAAA01147332.1

[27998 rows x 1 columns]

In [39]:
adata_trainnew

AnnData object with n_obs × n_vars = 40712 × 27998
    obs: 'orig.ident', 'nCount_RNA', 'nFeature_RNA'
    var: 'features'
    uns: 'prob_matrix0.2', 'prob_matrix0.4', 'prob_matrix0.6', 'prob_matrix0.8', 'prob_matrix1.4', 'prob_matrix2.0', 'umap'
    obsm: 'X_Embeded_z0.2', 'X_Embeded_z0.4', 'X_Embeded_z0.6', 'X_Embeded_z0.8', 'X_Embeded_z1.4', 'X_Embeded_z2.0', 'X_tsne', 'X_tsne0.2', 'X_tsne0.4', 'X_tsne0.6', 'X_tsne0.8', 'X_tsne1.4', 'X_tsne2.0', 'X_umap', 'X_umap0.2', 'X_umap0.4', 'X_umap0.6', 'X_umap0.8', 'X_umap1.4', 'X_umap2.0'
    obsp: 'connectivities', 'distances'

In [40]:
adata_trainnew.obs

                          orig.ident  nCount_RNA  nFeature_RNA
Z1_F_F1_AAACCTGAGAGACGAA           0      5989.0          1712
Z1_F_F1_AAACCTGAGGGCTTCC           0      4752.0          1633
Z1_F_F1_AAACCTGCAGGACGTA           0      4624.0          2136
Z1_F_F1_AAACCTGGTATTCGTG           0      2126.0          1204
Z1_F_F1_AAACCTGTCAAACCAC           0      1742.0          1013
...                              ...         ...           ...
Z3_M_M2_TTTGTCAAGTGGTCCC           2      4284.0          1903
Z3_M_M2_TTTGTCACATCACAAC           2      2772.0          1234
Z3_M_M2_TTTGTCACATCGTCGG           2      6254.0          2466
Z3_M_M2_TTTGTCAGTAACGACG           2      3379.0          1303
Z3_M_M2_TTTGTCATCTCAAGTG           2      1538.0           826

[40712 rows x 3 columns]

In [42]:
adata_trainnew.obs['desc_0.8']=adata_train.obs['desc_0.8']

In [43]:
adata_trainnew.var_names

Index(['Xkr4', 'Gm1992', 'Gm37381', 'Rp1', 'Rp1.1', 'Sox17', 'Gm37323',
       'Mrpl15', 'Lypla1', 'Gm37988',
       ...
       'AC125149.1', 'AC125149.2', 'AC125149.4', 'AC234645.1', 'AC168977.2',
       'AC168977.1', 'PISD', 'DHRSX', 'Vmn2r122', 'CAAA01147332.1'],
      dtype='object', length=27998)

In [8]:
#adata_trainnew.obs_names=adata.obs_names

In [45]:
#adata_trainnew.write_h5ad('/home/huggs/shiyi/SCST/RCTD/RCTD/c2l_brain/test/sc_desc_new.h5ad')
adata_trainnew.write_h5ad('/home/huggs/shiyi/SCST/RCTD/RCTD/predata/celltrek_kidney/mymodel/6_DE/sc_desc_anno.h5ad')

In [2]:
adata_trainnew=sc.read_h5ad('/home/huggs/shiyi/SCST/RCTD/RCTD/predata/celltrek_kidney/mymodel/6_DE/sc_desc_anno.h5ad')

In [7]:
adata_trainnew

AnnData object with n_obs × n_vars = 40712 × 27998
    obs: 'orig.ident', 'nCount_RNA', 'nFeature_RNA', 'desc_0.8'
    var: 'features'
    uns: 'prob_matrix0.2', 'prob_matrix0.4', 'prob_matrix0.6', 'prob_matrix0.8', 'prob_matrix1.4', 'prob_matrix2.0', 'umap'
    obsm: 'X_Embeded_z0.2', 'X_Embeded_z0.4', 'X_Embeded_z0.6', 'X_Embeded_z0.8', 'X_Embeded_z1.4', 'X_Embeded_z2.0', 'X_tsne', 'X_tsne0.2', 'X_tsne0.4', 'X_tsne0.6', 'X_tsne0.8', 'X_tsne1.4', 'X_tsne2.0', 'X_umap', 'X_umap0.2', 'X_umap0.4', 'X_umap0.6', 'X_umap0.8', 'X_umap1.4', 'X_umap2.0'
    obsp: 'connectivities', 'distances'

In [6]:
adata_trainnew.obs

                          orig.ident  nCount_RNA  nFeature_RNA desc_0.8
Z1_F_F1_AAACCTGAGAGACGAA           0      5989.0          1712       16
Z1_F_F1_AAACCTGAGGGCTTCC           0      4752.0          1633       16
Z1_F_F1_AAACCTGCAGGACGTA           0      4624.0          2136        2
Z1_F_F1_AAACCTGGTATTCGTG           0      2126.0          1204        2
Z1_F_F1_AAACCTGTCAAACCAC           0      1742.0          1013        2
...                              ...         ...           ...      ...
Z3_M_M2_TTTGTCAAGTGGTCCC           2      4284.0          1903       11
Z3_M_M2_TTTGTCACATCACAAC           2      2772.0          1234        0
Z3_M_M2_TTTGTCACATCGTCGG           2      6254.0          2466        5
Z3_M_M2_TTTGTCAGTAACGACG           2      3379.0          1303        1
Z3_M_M2_TTTGTCATCTCAAGTG           2      1538.0           826        0

[40712 rows x 4 columns]

In [4]:
adata = sc.read_h5ad('/home/huggs/shiyi/SCST/RCTD/RCTD/predata/celltrek_kidney/celltrek_kidney/Mouse_Adult_DGE.h5ad')
adata

AnnData object with n_obs × n_vars = 40712 × 27998
    obs: 'orig.ident', 'nCount_RNA', 'nFeature_RNA'
    var: 'features'

In [31]:
adata_trainnew.X

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]], dtype=float32)

In [32]:
print(adata_trainnew.raw.X)

  (0, 8)	3.0
  (0, 13)	1.0
  (0, 16)	1.0
  (0, 20)	1.0
  (0, 29)	1.0
  (0, 52)	1.0
  (0, 62)	1.0
  (0, 63)	1.0
  (0, 70)	1.0
  (0, 113)	1.0
  (0, 117)	1.0
  (0, 153)	1.0
  (0, 179)	2.0
  (0, 188)	1.0
  (0, 227)	4.0
  (0, 246)	1.0
  (0, 338)	1.0
  (0, 340)	1.0
  (0, 341)	1.0
  (0, 369)	1.0
  (0, 372)	1.0
  (0, 377)	1.0
  (0, 400)	1.0
  (0, 428)	1.0
  (0, 458)	8.0
  :	:
  (40711, 27301)	1.0
  (40711, 27315)	2.0
  (40711, 27319)	1.0
  (40711, 27321)	1.0
  (40711, 27340)	1.0
  (40711, 27346)	3.0
  (40711, 27506)	1.0
  (40711, 27512)	1.0
  (40711, 27584)	1.0
  (40711, 27594)	1.0
  (40711, 27614)	1.0
  (40711, 27754)	1.0
  (40711, 27806)	1.0
  (40711, 27814)	1.0
  (40711, 27847)	1.0
  (40711, 27848)	1.0
  (40711, 27908)	11.0
  (40711, 27909)	3.0
  (40711, 27910)	9.0
  (40711, 27911)	4.0
  (40711, 27913)	16.0
  (40711, 27914)	19.0
  (40711, 27915)	3.0
  (40711, 27917)	2.0
  (40711, 27920)	3.0

In [33]:
type(adata_train.X)

numpy.ndarray

In [34]:
type(adata_trainnew.X)

numpy.ndarray